<style type="text/css">
  #add_activity_item input[type=text] {
    width:70px;
  }
  #add_activity_item select {
    width:250px;
  }
  #activity_item_details {
    width: 50%;
    margin-bottom: 0px;
  }
</style>
<div id="add_activity_item">
  <table id="activity_item_details">
    <tr>
      <td>
        Product
      </td>
      <td>
        <%= collection_select(:activity_item, :product_id, Product.all, :id, :name) %>
      </td>

      <td>
        Quantity
      </td>
      <td>
        <%= text_field(:activity_item, :quantity) %>
      </td>
    </tr>
  </table>
  <a href="#" id="add_activity_item">Add</a>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $('#add_activity_item').click( function() {
      var selected_product_id = $('input[name^=product_id]:selected');
      var quantity = $('input[name^=quantity]');

      return false;
    });
  });
</script>