- index = 0
= grid(@activity_items_grid, show_filters: :when_filtered) do |g|

  - g.action_column
  
  - g.column name: '#' do |activity_item|
    - index = index + 1

  - g.column :name => 'Articul', :attribute => 'articul', :assoc => :product    
  - g.column :name => 'Product', :attribute => 'name', :assoc => :product
  - g.column :name => 'Quantity', attribute: 'quantity'
  - g.column :name => 'Price', attribute: 'price'
  - g.column :name => 'Total Price' do |product|
    - product.total_price

  - g.column do |activity_item|
    - "#{link_to 'Edit', edit_activity_activity_item_path(activity_item, activity_id: activity_item.activity.id)} #{link_to 'Delete', activity_activity_item_path(activity_item, activity_id: activity_item.activity.id), method: :delete, data: { confirm: 'Вы уверены ?' }}".html_safe

:javascript
  var deleted_activity_items = [];
  function onExistingActivityItemDelete(e, id) {
    if (confirm('Are you sure?')) {
      deleted_activity_items[deleted_activity_items.length] = id;

      e.parent().parent().remove();

      return false;
    }
  }
  function getDeletedActivityItems() {
    return deleted_activity_items;
  }
