<%=
    grid(@activity_items_grid, show_filters: :when_filtered) do |g|
      g.column :name => 'ID', :attribute => 'id' do |activity_item|
        activity_item.id
      end

      g.column :name => 'Product', :attribute => 'name', :model => 'Product' do |activity_item|
        activity_item.product.name if activity_item.product
      end

      g.column :name => 'Quantity', :attribute => 'quantity' do |activity_item|
        activity_item.quantity
      end

      g.column do |activity_item|
        a = "<a href='#' id='delete_activity_item' onClick='return onExistingActivityItemDelete($(this), " + activity_item.id.to_s + ")'>Delete</a>"

        a.html_safe
      end
    end
%>
<script type="text/javascript">
  var deleted_activity_items = [];

  function onExistingActivityItemDelete(e, id) {
    if (confirm('Are you sure?')) {
      deleted_activity_items[deleted_activity_items.length] = id;

      e.parent().parent().remove();

      return false;
    }
  }

  function getDeletedActivityItems() {
    return deleted_activity_items;
  }
</script>