<%
  if activity.errors.any?
%>
  <span>There are input errors:</span>
  <div id='errors'>
  <%
    activity.errors.each do |key, value|
  %>
    <div>
      <% error_field = key.to_s.slice(0, 1).capitalize + key.to_s.slice(1..-1) %>
      <% error_message = value.to_s %>
      <%= error_field + ' ' + error_message %>
    </div>
  <%
    end
  %>
  </div>
<%
  end
%>